<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="__CSS__/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<form action="{:U()}" method="post">
<div style="width: 500px;">
    <div class="form-group">
        <label class="col-sm-3 control-label">密码：</label>
        <div class="col-sm-9">
            <input type="password" name="resetpassword" class="form-control">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label">重复密码：</label>
        <div class="col-sm-9">
            <input type="password" name="resetrepassword" class="form-control">
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-9">
            <input type="hidden" name="id" value="{:I('get.id')}">
            <input type="submit" value="修改">
        </div>
    </div>
</div>
</form>
</body>
</html>