<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="__CSS__/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="__ZTREE__/css/zTreeStyle/zTreeStyle.css" type="text/css"/>
    <style type="text/css">
        ul.ztree{
            margin-top: 10px;
            border: 1px solid #617775;
            background: #f0f6e4;
            width: 220px;
            overflow-y: scroll;
            overflow-x: auto;
        }
    </style>
</head>
<body>
<div style="margin-left: 30px;width: 500px">
    <h1><a href="{:U('index')}">角色管理列表</a></h1>
    <form action="{:U()}" method="post" enctype="multipart/form-data">
        <div class="col-md-12">
            <div class="form-group">
                <label class="col-sm-3 control-label">角色名称：</label>
                <div class="col-sm-9">
                    <input type="text" name="name" class="form-control" value="{$row.name}">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">角色描述：</label>
                <div class="col-sm-9">
                    <textarea name="intro" class="form-control" cols="42" rows="4">{$row.intro}</textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">权限：</label>
                <div class="col-sm-9">
                    <div id='permission_ids' style="width: 100px;">
                        <input type="hidden">
                    </div>
                    <ul class="ztree" id='permissions'></ul>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">排序：</label>
                <div class="col-sm-9">
                    <input type="text" name="sort" class="form-control" value="{$row.sort|default=50}">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">是否显示：</label>
                <div class="col-sm-9">
                    <input type="radio" name="status" value="1" class="status"/> 是
                    <input type="radio" name="status" value="0" class="status" /> 否
                </div>
            </div>
            <div class="form-group">
                <input type="hidden" name="id" value="{$row.id}" />
                <input type="submit" value="添加">
            </div>
        </div>
    </form>
</div>
<js href='__JS__/jquery.min.js'/>
<script type="text/javascript" src="__ZTREE__/js/jquery.ztree.core.js"></script>
<script type="text/javascript" src="__ZTREE__/js/jquery.ztree.excheck.js"></script>
<script type='text/javascript'>
    var setting = {
        data: {
            simpleData: {
                enable: true,
                pIdKey: 'parent_id',
            }
        },
        //使用checkbox方式,进行复选
        check: {
            enable: true,
            chkboxType: {"Y": "s", "N": "s"},
        },
        callback: {
            onCheck: function () {
                //1.获取所有的被勾选的节点
                var nodes = permissions_ztree.getCheckedNodes(true);
                //2.遍历这些节点,清空隐藏域,添加当前的所有勾选的节点
                $('#permission_ids').empty();
                $(nodes).each(function(i,v){
                    var html = '<input type="hidden" name="permission_id[]" value="' + v.id + '"/>';
                    $(html).appendTo($('#permission_ids'));
                });
            },
        },
    };
    var permissions = {$permissions};

    //初始化
    var permissions_ztree = $.fn.zTree.init($('#permissions'), setting, permissions);

    //展开所有的节点
    permissions_ztree.expandAll(true);
    $('.status').val([{$row.status|default=1}]);
    <present name="row">
    var permission_ids = {$row.permission_ids};
    //遍历所有的权限id,然后勾选
    $(permission_ids).each(function(i,v){
        //找到这个节点
        var node = permissions_ztree.getNodeByParam('id',v);
        permissions_ztree.checkNode(node,true);
        console.debug(node);
        //2.遍历这些节点,清空隐藏域,添加当前的所有勾选的节点
        var html = '<input type="hidden" name="permission_id[]" value="' + v + '"/>';
        $(html).appendTo($('#permission_ids'));
    });
    </present>
</script>
</body>
</html>